{
"env_name":"SpaceInvaders",
"learning_rate":3e-8,
"num_iterations":1000000000,
"discount":0.99,
"target_update":10000,
"collect_steps_per_iteration":1,
"replay_buffer_max_length":1000000,
"batch_size":32,
"momentum":0.95,
"decay":0.95,
"mom_epsilon":0.01,
"eval_epsilon":0.05,
"log_interval":200,
"eval_interval":1000,
"num_eval_episodes":1,
"parallell_calls":4,
"save_name":"prelim",
"keep_n_models":3
}