{
"env_name":"SpaceInvaders",
"n_agents":40,
"n_gens":100,
"n_rank_steps":2000,
"n_eval_steps":10000,
"epsilon":0.05,
"net_minval":-1,
"net_maxval":1,
"val_buffer":1e-6,
"p_mut_loc":0.01,
"k1_pc":0.4,
"k2_pc":0.8,
"k_p_mut":0.5,
"adaptive_measures":1,
"spd_max":0.4,
"hpd_max":0.3,
"save_name":"acromuse"
}