{
"env_name":"SpaceInvaders",
"learning_rate":0.00025,
"num_iterations":5000000,
"discount":0.99,
"target_update":10000,
"collect_steps_per_iteration":1,
"replay_buffer_max_length":100000,
"initial_collect_frames":500,
"initial_epsilon":1.0,
"final_epsilon":0.1,
"final_exploration":1000000,
"batch_size":32,
"momentum":0.0,
"decay":0.95,
"mom_epsilon":0.01,
"eval_epsilon":0.05,
"log_interval":1000,
"eval_interval":100,
"num_eval_episodes":30,
"parallell_calls":4,
"save_name":"dqn",
"keep_n_models":100,
"save_replay_buffer":1
}